<section class="applicability"
  [style.background]="'linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(' + '../../assets/images/bg/bg-1.jpeg' + ') lightgray 50% / cover no-repeat'"
  style='background: rgba(255, 255, 255, 0.00)'>

  <img class='wave' src="../../assets/images/bg/wave.gif" alt="wave">



  <div class="applicability-body wrapper">

    <h1 class='title'>применимость</h1>

    <nav class="nav">
      <app-nav-item *ngFor="let nav of groups" [title]="nav.title" [isActive]="activeCategory === nav.title"
        (onClick)="setCategory($event)">
      </app-nav-item>
    </nav>

    <app-carousel [activeCategory]="activeCategory" [currentCategoryItems]="currentCategoryItems"></app-carousel>

  </div>
</section>